/* null margins and padding to give good cross-browser baseline */

html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#menu_filter {
    height: 5em;
    margin: 5px;
}

#filter_label {
    margin: 5px;
}

#filter-textbox {
    margin: auto;
    width: 280px;
    height: 2em;
}

.menu_item {
    padding: 20px;
}

.menu_item:hover {
    background-color: darkmagenta;
}

.selected {
    background-color: darkmagenta;
}

#map_container {
    background-color: darkslategray;
    height: 100%;
}

#map_content {
    background-color: lightslategray;
    height: 90%;
}

#infoWindowContent {
    max-width=100px;
    background-color: red
}

#title_container {
    min-width: 300px;
    text-align: center;
    -webkit-flex: 9;
    flex: 9;
}

#map_header {
    display: -webkit-flex;
    display: flex;
    background-color: lightslategray;
    height: 10%;
}

#menu_filter {
    height: 5em;
    margin: 5px;
}

#filter_textbox {
    margin: auto;
    height: 2em;
    width: 90%;
}

#menu_container {
    -webkit-flex: none;
    flex: none;
    height: 100%;
    width: 300px;
    float: left;
    background-color: black;
    color: lightgray;
}