.nav {
    z-index: 10;
    position: absolute;
    left: -300px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0px, 0px);
    transform: translate(-0px, 0px);
    /* Optionally, we animate the drawer. */
    transition: transform .5s ease;
}

.nav.open {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
}

.menu_button {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 1em;
    height: 50px;
    width: 50px;
}

.menu_button_container svg {
    fill: #333;
    height: 50px;
    width: 50px;
}