#menu_container {
    height: 100%;
    width: 300px;
    float: left;
    background-color: black;
    color: lightgray;
}

#map_container {
    width: 100%;
    background-color: black;
}

.nav {
    z-index: 1;
    background-color: #000;
    width: 300px;
    position: absolute;
    left: -300px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0px, 0px);
    transform: translate(-0px, 0px);
    /* Optionally, we animate the drawer. */
    transition: transform .5s ease;
}

.nav.open {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
}

#menu_button_container {
    padding: 5px;
    height: 100%;
    width: 40px;
    fill: #E0E0E0;
}

#map_container {
    position: relative;
    float: right;
    height: 100%;
    width: 100%;
}