/* null margins and padding to give good cross-browser baseline */

html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    left: -300px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0px, 0px);
    transform: translate(-0px, 0px);
    /* Optionally, we animate the drawer. */
    transition: transform .5s ease;
}

.nav.open {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
}

.header_menu {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 5px;
}

.header_menu svg {
    width: 36px;
    fill: #E0E0E0;
}

#main {
    height: 100%;
    width: 100%;
}

#menu_container {
    height: 100%;
    width: 300px;
    float: left;
    background-color: black;
    color: lightgray;
}

#menu_filter {
    height: 5em;
    margin: 5px;
}

#filter-textbox {
    margin: auto;
    height: 2em;
    width: 90%;
}

.menu_item {
    padding: 20px;
}

.selected {
    background-color: yellow;
}

#map_container {
    background-color: darkslategray;
    height: 100%;
}

#map_header {
    background-color: lightslategray;
    height: 10%;
}

#map_content {
    background-color: lightslategray;
    height: 90%
}

#infoWindow {}

#markerName {}

#markerLoc {}