/* null margins and padding to give good cross-browser baseline */

#menu_button_container {
    visibility: hidden;
    position: absolute;
    left: 0;
    padding: 5px;
}

#main {
    height: 100%;
    width: 100%;
}