/* null margins and padding to give good cross-browser baseline */

html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
    margin: 0;
    padding: 0;
}
img,
fieldset {
    border: none;
}
html,
body {
    height: 100%;
    width: 100%;
}
.nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    left: -300px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0px, 0px);
    transform: translate(-0px, 0px);
    /* Optionally, we animate the drawer. */
    transition: transform .5s ease;
}
.nav.open {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
}
.header_menu {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 1em;
}
.header_menu svg {
    width: 36px;
    fill: #E0E0E0;
}
#main {
    height: 100%;
    width: 100%;
}
#menu_container {
    background-color: grey;
    color: lightgray;
}
#menu_header {
    background-color: lightgrey;
    height: 20%;
}
#menu_content {
    background-color: black;
}
.menu_item {
    background-color: black;
    height: 20%;
    padding: 20px;
}
#map_container {
    background-color: darkslategray;
    height: 100%;
}
#map_header {
    background-color: lightslategray;
    height: 10%;
}
#map_content {
    background-color: lightslategray;
    height: 90%;
}
